src/main/mule/mule_helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f14c5166-2ef6-4819-a179-c999e73d368e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule_helloworldFlow" doc:id="470b94a8-ccaa-4c14-8124-3a201ada8029" >
		<http:listener doc:name="Listener" doc:id="a48a8479-6f19-475e-9be7-5dc9841f7775" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Hello " ++ attributes.queryParams.name ++ "  " ++   "how are you doing?"]' doc:name="Set Payload" doc:id="c511e13d-4bb0-46a8-b25e-4bdc4c6589f9" />
	</flow>
</mule>
